*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
}

h1{
    margin: 0;
    font-size: 20px;
    margin-left: 30px;
}

.character{
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.bar{transition: width 0.2s;}

#strongestherobar{background-color: #f53333; width: 1%; height: 100%; position: absolute; z-index: -1;}
#herohunterbar{background-color: #17b7ff; width: 1%; height: 100%; position: absolute; z-index: -1;}
#destructivecyborgbar{background-color: #ff6a0a; width: 1%; height: 100%; position: absolute; z-index: -1;}
#deadlyninjabar{background-color: #ab18d1; width: 1%; height: 100%; position: absolute; z-index: -1;}
#brutaldemonbar{background-color: #f80a0a; width: 1%; height: 100%; position: absolute; z-index: -1;}
#blademasterbar{background-color: #a3f0ff; width: 1%; height: 100%; position: absolute; z-index: -1;}
#wildpsychicbar{background-color: #50c878; width: 1%; height: 100%; position: absolute; z-index: -1;}
#martialartistbar{background-color: #5803c6; width: 1%; height: 100%; position: absolute; z-index: -1;}
#techprodigybar{background-color: #696969; width: 1%; height: 100%; position: absolute; z-index: -1;}

#add{
    background-color: rgb(40, 151, 255);
    border: none;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 70px;
    width: 260px;
    height: 60px;
    font-size: 35px;
    border-radius: 10px;
}

#addpage{
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: ghostwhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px;
    display: none;
}

#black{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#characterselect{
    width: 150px;
    height: 30px;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#characterselect::before{
    position: absolute;
    display: flex;
    content: 'Select Character';
    font-size: 20px;
}

#lostorwon{
    display: flex;
    position: relative;
    width: max-content;
    column-gap: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

#lostorwon button{
    width: 120px;
    height: 35px;
    font-size: 22px;
}

#confirm{
    width: 150px;
    height: 45px;
    font-size: 30px;
    background-color: #50c878;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
}

#confirm:hover{filter: brightness(.9);}
#confirm:active{filter: brightness(.75);}

#add:hover{filter: brightness(.9);}
#add:active{filter: brightness(.75);}

.green{color: green;}
.red{color: red;}

.winloss{
    position: absolute;
    margin-left: 340px;
}

#information{
    width: 800px;
    background-color: red;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 5px;
    background-color: ghostwhite;
    border: 2px #c7c7d1 solid;
    margin-top: 60px;
}

#information h1{
    margin-top: 30px;
}

#pie {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background-color: gray;
}
#innerpie{
    width: 60%;
    height: 60%;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(31, 192, 31);
    font-family: arial;
}

#title{
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 50px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-left: 0;
    width: max-content;
}

#settingbutton{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.2s;
}

#settingbutton:hover{background-color: #69696934;}

#settingpage{
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: ghostwhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px;
    display: none;
}

#settingclose{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    font-family: arial;
    font-weight: 100;
    user-select: none;
    border-radius: 50px;
}

#settingclose:hover{background-color: #69696934;}

#reset{
    width: 150px;
    height: 40px;
    background-color: rgb(219, 42, 42);
    color: white;
    border: darkred 2px solid;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

}